.blocks {
  display: flex;
  margin-top: 20px;
}

.block1 {
  text-align: center;
}

/* .userimg {} */

.userimg img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.block2 {
  display: flex;
  margin-left: 100px;
}

.followbtn {
  margin-top: 10px;
}

.location {
  margin-left: 30px;
}

.username {
  font-style: bold;
  color: red;
}

.status {
  font-style: italic;
  color: gray;
}

.country {
  color: blue;
}

